body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 12px;
	padding: 0;
	background-color: #f5f5f5;
	color: #181818;
}

.registration, .login {
	background-color: #f5f5f5;
	border: 2px solid #979797;
	padding: 16px;
	margin-bottom: 24px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	text-align: center;
}

form div {
 	margin: 1em;
}

form div label {
 	float: left;
 	width: 10%;
}

.chat {
	border: 3px solid #181818;
	padding: 12px;
	margin-top: 14px;
}

.chat-messages {
	display: flex;
	flex-direction: column;
}

.chat-message {
	margin-bottom: 8px;
	border: 1px solid #c7c7c7;
	padding: 4px;
	border-radius: 4px;
}

.timestamp {
	color: #888888;
	font-size: 0.7em;
	margin-right: 8px;
}

